{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Complete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <div class="container mx-auto mt-5 p-4 pb-3 rounded shadow bg-body-tertiary">
        <h1 class="text-success mb-4">Test Complete</h1>
        <div class="fs-4 my-3">
            <span class="text-secondary fs-6">Harmonic Mean:</span><br>
            <span id="harmonic-mean">--</span> ms
        </div>
        <div class="fs-4 my-3">
            <span class="text-secondary fs-6">Valid Attempts:</span><br>
            <span id="valid-percentage">--</span>%
        </div>
    </div>
    <script src="{% static 'webgui/js/test_complete.js' %}"></script>
</body>
</html>
